*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

p {
  margin: 30px;
}

p > span:hover {
  opacity: .5;
  cursor: pointer;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  
  body {
    margin: 30px 100px;
  }

  p {
    margin: 30px 0px;
  }
}

/* ================================= 
  MediaElement Custom Styles
==================================== */

.mejs__controls:not([style*="display: none"]) {
  background: #f5656559;
  padding: 0;
}

.mejs__time-current {
  background: #fc3636;
}

.mejs__time-float {
  background: none; 
  border: none; 
  color: rgb(255, 255, 255);
}

.mejs__time-float-corner {
  border-color: #00ff4c transparent transparent transparent;
}